.elementor-22 .elementor-element.elementor-element-852882e > .elementor-container {
    max-width: 1600px;
    min-height: 90vh;
}

.elementor-22 .elementor-element.elementor-element-852882e > .elementor-container > .elementor-column > .elementor-widget-wrap {
    align-content: center;
    align-items: center;
}

.elementor-22 .elementor-element.elementor-element-852882e {
    overflow: hidden;
}

.elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-c4d5fbe.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-22 .elementor-element.elementor-element-c4d5fbe.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(30px/2);
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(30px/2);
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(30px/2);
    margin-left: calc(30px/2);
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-30px/2);
    margin-left: calc(-30px/2);
}

body.rtl .elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-30px/2);
}

body:not(.rtl) .elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-30px/2);
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-icon i {
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-icon svg {
    fill: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-item:hover .elementor-icon-list-icon i {
    color: var( --e-global-color-secondary );
}

.elementor-22 .elementor-element.elementor-element-9104d7a .elementor-icon-list-item:hover .elementor-icon-list-icon svg {
    fill: var( --e-global-color-secondary );
}

.elementor-22 .elementor-element.elementor-element-9104d7a {
    --e-icon-list-icon-size: 21px;
    --e-icon-list-icon-align: center;
    --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    width: auto;
    max-width: auto;
}

.elementor-22 .elementor-element.elementor-element-47876c2 > .elementor-element-populated {
    padding: 0% 13% 0% 13%;
}

.elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-83d88ce.elementor-column .elementor-widget-wrap {
    align-items: flex-start;
}

.elementor-22 .elementor-element.elementor-element-83d88ce.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: flex-start;
    align-items: flex-start;
}

.elementor-22 .elementor-element.elementor-element-83d88ce > .elementor-element-populated {
    padding: 2% 10% 2% 2%;
}

.elementor-22 .elementor-element.elementor-element-78f32c9 .elementor-heading-title {
    color: var( --e-global-color-secondary );
    font-family: var( --e-global-typography-ba4ef92-font-family ), Sans-serif;
    font-size: var( --e-global-typography-ba4ef92-font-size );
    font-weight: var( --e-global-typography-ba4ef92-font-weight );
    text-transform: var( --e-global-typography-ba4ef92-text-transform );
    font-style: var( --e-global-typography-ba4ef92-font-style );
    line-height: var( --e-global-typography-ba4ef92-line-height );
    letter-spacing: var( --e-global-typography-ba4ef92-letter-spacing );
    word-spacing: var( --e-global-typography-ba4ef92-word-spacing );
}

.elementor-22 .elementor-element.elementor-element-26d1e7b .elementor-heading-title {
    font-family: var( --e-global-typography-d5a3080-font-family ), Sans-serif;
    font-size: var( --e-global-typography-d5a3080-font-size );
    font-weight: var( --e-global-typography-d5a3080-font-weight );
    text-transform: var( --e-global-typography-d5a3080-text-transform );
    font-style: var( --e-global-typography-d5a3080-font-style );
    line-height: var( --e-global-typography-d5a3080-line-height );
    letter-spacing: var( --e-global-typography-d5a3080-letter-spacing );
    word-spacing: var( --e-global-typography-d5a3080-word-spacing );
}

.elementor-22 .elementor-element.elementor-element-26d1e7b > .elementor-widget-container {
    margin: -10px 0px 0px 0px;
}

.elementor-22 .elementor-element.elementor-element-0b4d3aa {
    --divider-border-style: solid;
    --divider-color: var( --e-global-color-primary );
    --divider-border-width: 2px;
}

.elementor-22 .elementor-element.elementor-element-0b4d3aa .elementor-divider-separator {
    width: 460px;
}

.elementor-22 .elementor-element.elementor-element-0b4d3aa .elementor-divider {
    padding-top: 0px;
    padding-bottom: 0px;
}

.elementor-22 .elementor-element.elementor-element-0b4d3aa > .elementor-widget-container {
    margin: -15px 0px 0px 0px;
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(25px/2);
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(25px/2);
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item {
    margin-right: calc(25px/2);
    margin-left: calc(25px/2);
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-25px/2);
    margin-left: calc(-25px/2);
}

body.rtl .elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    left: calc(-25px/2);
}

body:not(.rtl) .elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after {
    right: calc(-25px/2);
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-item:not(:last-child):after {
    content: "";
    width: 10%;
    border-color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child):after {
    border-top-style: solid;
    border-top-width: 1px;
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-style: solid;
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-inline-items .elementor-icon-list-item:not(:last-child):after {
    border-left-width: 1px;
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 {
    --e-icon-list-icon-size: 14px;
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 .elementor-icon-list-text {
    color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-2c7ed32 > .elementor-widget-container {
    margin: 65px 0px 0px 0px;
    padding: 8% 8% 8% 8%;
    background-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-368b759 > .elementor-element-populated {
    padding: 0% 0% 0% 20%;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group {
    padding-right: calc( 10px/2 );
    padding-left: calc( 10px/2 );
    margin-bottom: 26px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-form-fields-wrapper {
    margin-left: calc( -10px/2 );
    margin-right: calc( -10px/2 );
    margin-bottom: -26px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group.recaptcha_v3-bottomleft, .elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group.recaptcha_v3-bottomright {
    margin-bottom: 0;
}

body.rtl .elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-labels-inline .elementor-field-group > label {
    padding-left: 0px;
}

body:not(.rtl) .elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-labels-inline .elementor-field-group > label {
    padding-right: 0px;
}

body .elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-labels-above .elementor-field-group > label {
    padding-bottom: 0px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group > label, .elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-subgroup label {
    color: var( --e-global-color-primary );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-type-html {
    padding-bottom: 0px;
    color: var( --e-global-color-primary );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group .elementor-field {
    color: var( --e-global-color-primary );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group:not(.elementor-field-type-upload) .elementor-field:not(.elementor-select-wrapper) {
    background-color: var( --e-global-color-475b8af );
    border-width: 0px 0px 1px 0px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-field-group .elementor-select-wrapper select {
    background-color: var( --e-global-color-475b8af );
    border-width: 0px 0px 1px 0px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-button {
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-radius: 22px 22px 22px 22px;
    padding: 12px 45px 12px 45px;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .e-form__buttons__wrapper__button-next {
    color: var( --e-global-color-49b2358 );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-button[type="submit"] {
    color: var( --e-global-color-49b2358 );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-button[type="submit"] svg * {
    fill: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .e-form__buttons__wrapper__button-previous {
    color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .e-form__buttons__wrapper__button-next:hover {
    background-color: var( --e-global-color-475b8af );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-button[type="submit"]:hover {
    background-color: var( --e-global-color-475b8af );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-button[type="submit"]:hover svg * {
    fill: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .e-form__buttons__wrapper__button-previous:hover {
    color: #ffffff;
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-message.elementor-message-success {
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-message.elementor-message-danger {
    color: var( --e-global-color-text );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 .elementor-message.elementor-help-inline {
    color: var( --e-global-color-text );
}

.elementor-22 .elementor-element.elementor-element-5fa2bc5 {
    --e-form-steps-indicators-spacing: 20px;
    --e-form-steps-indicator-padding: 30px;
    --e-form-steps-indicator-inactive-secondary-color: #ffffff;
    --e-form-steps-indicator-active-secondary-color: #ffffff;
    --e-form-steps-indicator-completed-secondary-color: #ffffff;
    --e-form-steps-divider-width: 1px;
    --e-form-steps-divider-gap: 10px;
}

.elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-7714602.elementor-column .elementor-widget-wrap {
    align-items: center;
}

.elementor-22 .elementor-element.elementor-element-7714602.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
    align-content: center;
    align-items: center;
}

.elementor-22 .elementor-element.elementor-element-7714602.elementor-column > .elementor-widget-wrap {
    justify-content: flex-end;
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
    fill: var( --e-global-color-49b2358 );
    color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-framed .elementor-icon, .elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-49b2358 );
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-framed .elementor-icon:hover, .elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-default .elementor-icon:hover {
    fill: var( --e-global-color-49b2358 );
    color: var( --e-global-color-49b2358 );
    border-color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-d577ee7.elementor-view-framed .elementor-icon:hover {
    background-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-d577ee7 {
    --icon-box-icon-margin: 0px;
    width: auto;
    max-width: auto;
}

.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon {
    font-size: 20px;
    border-width: 1px 1px 1px 1px;
}

.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title {
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title a {
    font-family: var( --e-global-typography-7f3c51c-font-family ), Sans-serif;
    font-size: var( --e-global-typography-7f3c51c-font-size );
    font-weight: var( --e-global-typography-7f3c51c-font-weight );
    text-transform: var( --e-global-typography-7f3c51c-text-transform );
    font-style: var( --e-global-typography-7f3c51c-font-style );
    line-height: var( --e-global-typography-7f3c51c-line-height );
    letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
    word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
}

.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-description {
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-7f3c51c-font-family ), Sans-serif;
    font-size: var( --e-global-typography-7f3c51c-font-size );
    font-weight: var( --e-global-typography-7f3c51c-font-weight );
    text-transform: var( --e-global-typography-7f3c51c-text-transform );
    font-style: var( --e-global-typography-7f3c51c-font-style );
    line-height: var( --e-global-typography-7f3c51c-line-height );
    letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
    word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
}

.elementor-22 .elementor-element.elementor-element-d577ee7 > .elementor-widget-container {
    margin: 0px 33px 0px 0px;
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-stacked .elementor-icon {
    background-color: var( --e-global-color-accent );
    fill: var( --e-global-color-49b2358 );
    color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-framed .elementor-icon, .elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-default .elementor-icon {
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
    border-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-framed .elementor-icon {
    background-color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-stacked .elementor-icon:hover {
    background-color: var( --e-global-color-49b2358 );
    fill: var( --e-global-color-accent );
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-framed .elementor-icon:hover, .elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-default .elementor-icon:hover {
    fill: var( --e-global-color-49b2358 );
    color: var( --e-global-color-49b2358 );
    border-color: var( --e-global-color-49b2358 );
}

.elementor-22 .elementor-element.elementor-element-887a4e5.elementor-view-framed .elementor-icon:hover {
    background-color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-887a4e5 {
    --icon-box-icon-margin: 0px;
    width: auto;
    max-width: auto;
}

.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon {
    border-width: 1px 1px 1px 1px;
}

.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title {
    color: var( --e-global-color-accent );
}

.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title a {
    font-family: var( --e-global-typography-7f3c51c-font-family ), Sans-serif;
    font-size: var( --e-global-typography-7f3c51c-font-size );
    font-weight: var( --e-global-typography-7f3c51c-font-weight );
    text-transform: var( --e-global-typography-7f3c51c-text-transform );
    font-style: var( --e-global-typography-7f3c51c-font-style );
    line-height: var( --e-global-typography-7f3c51c-line-height );
    letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
    word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
}

.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-description {
    color: var( --e-global-color-accent );
    font-family: var( --e-global-typography-7f3c51c-font-family ), Sans-serif;
    font-size: var( --e-global-typography-7f3c51c-font-size );
    font-weight: var( --e-global-typography-7f3c51c-font-weight );
    text-transform: var( --e-global-typography-7f3c51c-text-transform );
    font-style: var( --e-global-typography-7f3c51c-font-style );
    line-height: var( --e-global-typography-7f3c51c-line-height );
    letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
    word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
}

@media(max-width:1024px) {
    .elementor-22 .elementor-element.elementor-element-9104d7a {
        --e-icon-list-icon-size: 20px;
        --e-icon-list-icon-align: center;
        --e-icon-list-icon-margin: 0 calc(var(--e-icon-list-icon-size, 1em) * 0.125);
    }

    .elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-47876c2.elementor-column .elementor-widget-wrap {
        align-items: flex-start;
    }

    .elementor-22 .elementor-element.elementor-element-47876c2.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated {
        align-content: flex-start;
        align-items: flex-start;
    }

    .elementor-22 .elementor-element.elementor-element-47876c2 > .elementor-element-populated {
        padding: 0% 5% 0% 10%;
    }

    .elementor-22 .elementor-element.elementor-element-78f32c9 .elementor-heading-title {
        font-size: var( --e-global-typography-ba4ef92-font-size );
        line-height: var( --e-global-typography-ba4ef92-line-height );
        letter-spacing: var( --e-global-typography-ba4ef92-letter-spacing );
        word-spacing: var( --e-global-typography-ba4ef92-word-spacing );
    }

    .elementor-22 .elementor-element.elementor-element-78f32c9 > .elementor-widget-container {
        margin: 60px 0px 0px 0px;
    }

    .elementor-22 .elementor-element.elementor-element-26d1e7b .elementor-heading-title {
        font-size: var( --e-global-typography-d5a3080-font-size );
        line-height: var( --e-global-typography-d5a3080-line-height );
        letter-spacing: var( --e-global-typography-d5a3080-letter-spacing );
        word-spacing: var( --e-global-typography-d5a3080-word-spacing );
    }

    .elementor-22 .elementor-element.elementor-element-2c7ed32 > .elementor-widget-container {
        margin: 20px 0px 0px 0px;
    }

    .elementor-22 .elementor-element.elementor-element-368b759 > .elementor-element-populated {
        padding: 0px 50px 0px 15px;
    }

    .elementor-22 .elementor-element.elementor-element-5fa2bc5 > .elementor-widget-container {
        margin: 15px 0px 0px 0px;
    }

    .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon {
        font-size: 15px;
    }

    .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title a {
        font-size: var( --e-global-typography-7f3c51c-font-size );
        line-height: var( --e-global-typography-7f3c51c-line-height );
        letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
        word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
    }

    .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-description {
        font-size: var( --e-global-typography-7f3c51c-font-size );
        line-height: var( --e-global-typography-7f3c51c-line-height );
        letter-spacing: var( --e-global-typography-7f3c51c-letter-spacing );
        word-spacing: var( --e-global-typography-7f3c51c-word-spacing );
    }

    .elementor-22 .elementor-element.elementor-element-d577ee7 > .elementor-widget-container {
        margin: 0px 23px 0px 0px;}.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon{font-size:35px;}.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title a{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-description{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}}@media(min-width:768px){.elementor-22 .elementor-element.elementor-element-c4d5fbe{width:3%;}.elementor-22 .elementor-element.elementor-element-47876c2{width:87%;}.elementor-22 .elementor-element.elementor-element-83d88ce{width:60%;}.elementor-22 .elementor-element.elementor-element-368b759{width:40.02%;}.elementor-22 .elementor-element.elementor-element-7714602{width:9.333%;}}@media(max-width:1024px) and (min-width:768px){.elementor-22 .elementor-element.elementor-element-c4d5fbe{width:7%;}.elementor-22 .elementor-element.elementor-element-47876c2{width:78%;}.elementor-22 .elementor-element.elementor-element-83d88ce{width:100%;}.elementor-22 .elementor-element.elementor-element-368b759{width:100%;}.elementor-22 .elementor-element.elementor-element-7714602{width:15%;}}@media(max-width:767px){.elementor-22 .elementor-element.elementor-element-c4d5fbe{width:15%;}.elementor-bc-flex-widget .elementor-22 .elementor-element.elementor-element-c4d5fbe.elementor-column .elementor-widget-wrap{align-items:flex-start;}.elementor-22 .elementor-element.elementor-element-c4d5fbe.elementor-column.elementor-element[data-element_type="column"] > .elementor-widget-wrap.elementor-element-populated{align-content:flex-start;align-items:flex-start;}.elementor-22 .elementor-element.elementor-element-c4d5fbe.elementor-column > .elementor-widget-wrap{justify-content:center;}.elementor-22 .elementor-element.elementor-element-9104d7a{--e-icon-list-icon-size:19px;}.elementor-22 .elementor-element.elementor-element-9104d7a > .elementor-widget-container{margin:14px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-47876c2{width:85%;}.elementor-22 .elementor-element.elementor-element-b1aaacc{margin-top:0px;margin-bottom:0px;}.elementor-22 .elementor-element.elementor-element-83d88ce > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-78f32c9 .elementor-heading-title{font-size:var( --e-global-typography-ba4ef92-font-size );line-height:var( --e-global-typography-ba4ef92-line-height );letter-spacing:var( --e-global-typography-ba4ef92-letter-spacing );word-spacing:var( --e-global-typography-ba4ef92-word-spacing );}.elementor-22 .elementor-element.elementor-element-78f32c9 > .elementor-widget-container{margin:25px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-26d1e7b .elementor-heading-title{font-size:var( --e-global-typography-d5a3080-font-size );line-height:var( --e-global-typography-d5a3080-line-height );letter-spacing:var( --e-global-typography-d5a3080-letter-spacing );word-spacing:var( --e-global-typography-d5a3080-word-spacing );}.elementor-22 .elementor-element.elementor-element-0b4d3aa > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-2c7ed32 > .elementor-widget-container{margin:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-368b759 > .elementor-element-populated{padding:0px 0px 0px 0px;}.elementor-22 .elementor-element.elementor-element-7714602{width:100%;}.elementor-22 .elementor-element.elementor-element-7714602 > .elementor-element-populated{margin:10% 2% 0% 0%;--e-column-margin-right:2%;--e-column-margin-left:0%;}.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-title a{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}.elementor-22 .elementor-element.elementor-element-d577ee7 .elementor-icon-box-description{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}.elementor-22 .elementor-element.elementor-element-d577ee7 > .elementor-widget-container{margin:-22px 30px 0px 0px;}.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title, .elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-title a{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}.elementor-22 .elementor-element.elementor-element-887a4e5 .elementor-icon-box-description{font-size:var( --e-global-typography-7f3c51c-font-size );line-height:var( --e-global-typography-7f3c51c-line-height );letter-spacing:var( --e-global-typography-7f3c51c-letter-spacing );word-spacing:var( --e-global-typography-7f3c51c-word-spacing );}}